Repository ethereum/ethereum-org-fork, pull requests merged in 2023-08, with the labels that each got.

#7 Update v7.19.0
  .all-contributorsrc
  README.md
  public/use-cases/refi-regenerative-economy-diagram.png
  src/@chakra-ui/semanticTokens.ts
  src/components/Breadcrumbs/Breadcrumbs.stories.tsx
  src/components/Breadcrumbs/index.tsx
  src/components/Button/Button.stories.tsx
  src/components/Nav/useNav.ts
  src/components/PageHero.tsx
  src/components/Quiz/QuizzesModal.tsx
  src/components/Table/index.tsx
  src/components/Table/stories/Table.stories.tsx
  src/components/Table/stories/mockMdxData.tsx
  src/components/TableOfContents/index.tsx
  src/content/contributing/translation-program/translatathon/index.md
  src/content/developers/docs/apis/backend/index.md
  src/content/developers/docs/consensus-mechanisms/pow/mining/index.md
  src/content/developers/docs/networks/index.md
  src/content/eips/index.md
  src/content/energy-consumption/index.md
  src/content/refi/index.md
  src/data/community-events.json
  src/intl/en/common.json
  src/intl/en/page-layer-2.json
  src/intl/en/template-usecase.json
  src/intl/vi/common.json
  src/intl/vi/page-dapps.json
  src/intl/vi/page-eth.json
  src/intl/vi/page-run-a-node.json
  tsconfig.json
Labels: review needed :eyes:, documentation :book:, internal :house:, content :fountain_pen:, event :date:

#11 Update v7.19.1
  .all-contributorsrc
  README.md
  public/content/contributing/translation-program/translatathon/index.md
  public/content/developers/docs/apis/json-rpc/index.md
  public/content/developers/docs/data-and-analytics/block-explorers/index.md
  public/content/developers/docs/nodes-and-clients/index.md
  public/content/guides/how-to-create-an-ethereum-account/index.md
  public/content/guides/how-to-create-an-ethereum-account/wallet-box.png
  public/content/guides/how-to-use-a-wallet/index.md
  public/content/nft/index.md
  public/content/smart-contracts/index.md
  src/components/Banners/TranslatathonBanner.tsx
  src/components/Layout.tsx
  src/content/developers/tutorials/develop-and-test-dapps-with-a-multi-client-local-eth-testnet/index.md
  src/data/community-meetups.json
  src/intl/en/page-layer-2.json
  src/intl/en/page-learn.json
  src/intl/en/page-wallets.json
Labels: review needed :eyes:, documentation :book:, internal :house:

#14 Sync Chakra theme files
  src/@chakra-ui/components/Alert.ts
  src/@chakra-ui/components/Avatar.ts
  src/@chakra-ui/components/Badge.ts
  src/@chakra-ui/components/Checkbox.ts
  src/@chakra-ui/components/Input.ts
  src/@chakra-ui/components/Modal.ts
  src/@chakra-ui/components/Progress.ts
  src/@chakra-ui/components/Radio.ts
  src/@chakra-ui/components/Select.ts
  src/@chakra-ui/components/Switch.ts
  src/@chakra-ui/components/Tabs.ts
  src/@chakra-ui/components/Tag/index.ts
  src/@chakra-ui/components/Tag/utils.ts
  src/@chakra-ui/components/index.ts
  src/@chakra-ui/semanticTokens.ts
  src/@chakra-ui/theme.ts
Labels: review needed :eyes:

#10 Markdown images
  package.json
  src/components/MarkdownImage.tsx
  src/lib/constants.ts
  src/lib/rehype/rehypeImgSize.ts
  src/pages/[...slug].tsx
  yarn.lock
Labels: review needed :eyes:, content :fountain_pen:, dependencies :package:

#15 feat: Content pages
  src/components/EnergyConsumptionChart.tsx
  src/components/MeetupList.tsx
  src/components/Translation.tsx
  src/components/UpcomingEventsList.tsx
  src/lib/utils/md.ts
  src/pages/[...slug].tsx
  tsconfig.json
Labels: review needed :eyes:, content :fountain_pen:

#16 feat: Static layout
  package.json
  src/components/FeedbackCard.tsx
  src/components/Footer.tsx
  src/components/Nav/Dropdown.tsx
  src/components/Nav/Menu.tsx
  src/components/Nav/Mobile.tsx
  src/components/Nav/index.tsx
  src/components/Nav/useNav.ts
  src/components/Search/index.tsx
  src/layouts/Docs.tsx
  src/layouts/Event.tsx
  src/layouts/Roadmap.tsx
  src/layouts/RootLayout.tsx
  src/layouts/Staking.tsx
  src/layouts/Static.tsx
  src/layouts/Tutorial.tsx
  src/layouts/Upgrade.tsx
  src/layouts/UseCases.tsx
  src/layouts/index.ts
  src/lib/types.ts
  src/pages/[...slug].tsx
  src/pages/_app.tsx
  tsconfig.json
  yarn.lock
Labels: review needed :eyes:, content :fountain_pen:, dependencies :package:
